body{
    margin: 0 15%;
    box-shadow: 0 0 30px black;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    background-color: black;
}
header nav {
    display: flex;
    align-items: center;
    padding: 10px;
}
header nav .logo {
    flex: 1;
}
header nav ul {
    display: flex;
    flex: 1;
    justify-content: space-between;
    list-style-type: none;
}
header nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
}
header nav ul li a span {
    margin-top: 10px;
} /* FIN HEADER */

/* Banner */
.banner img{
    width: 100%;
} /* Fin Banner */

/* Contenu section 1 */
.contenu1{
    display: flex;
}
.contenu1 div{
    margin: 40px 70px;
}
.contenu1 div:nth-of-type(2){
    margin-right: 10%;
} 
.contenu1 div:last-of-type>h2{
    margin-top: 0%;
} /* Fin - Contenu section 1 */

/*  Contenu section 2 */
.contenu2{
    background-color: rgb(47, 47, 65);
    color: white;
}
.titreP{
    display: flex;
    justify-content: space-around;
}
.titreP h1{
    margin-bottom: 0px;
}
.titreP div{
    margin-top: 40px;
}
.titreP div:nth-child(2){
    width: 600px;
}
h1{
    font-size: 3em;
}

        /* Section 2 partie 2 - images */
.images{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.images div{
    margin: 0% 50px;
    line-height: 1.5;
}
.images p{
    margin: 30px 0%;
    font-size: 18px;
}
.images button{
    color: rgb(47, 47, 65);
    font-weight: bolder;
    border-radius: 0%;
    border: none;
    padding: 10px 25px;
    margin-bottom: 40px;
    font-size: 18px;
}  /*  Fin Contenu section 2 */


/* Contenu 3  */
.contenu3:not(button){
    color: rgb(78, 73, 73);
}
.contenu3 button{
    background-color: rgb(88, 84, 84);
    color: white;
} /* Fin Contenu 3 */

/* Footer */
footer{
    height: 260px;
    background-color: rgb(56, 53, 53);
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

h3{
    margin: 0%;
    width: 300px;
    padding-left: 20px;
}
footer img{
    height: 60px;
}

.packs, .outils{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 300px;
    margin-top: 50px;
    height: 180px;
}
.social{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 200px;
    margin-top: 50px;
    height: 180px;
}