body{
    margin: 0 15%;
    box-shadow: 0 0 30px black;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    background-color: black;
}
header nav {
    display: flex;
    align-items: center;
    padding: 10px;
}
header nav .logo {
    flex: 1;
}
header nav ul {
    display: flex;
    flex: 1;
    justify-content: space-between;
    list-style-type: none;
}
header nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
}
header nav ul li a span {
    margin-top: 10px;
} /* FIN HEADER */

/* Banner */
.banner img{
    width: 100%;
} /* Fin Banner */

/* Contenu section 1 */
.contenu1{
    display: flex;
    /* justify-content: space-around; */
    /* width: 90%; */
}
.contenu1 div{
    margin: 40px 70px;
}
.contenu1 div:nth-of-type(2){
    margin-right: 10%;
} /* Fin - Contenu section 1 */

/*  Contenu section 2 */
